*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#ffffff;

color:#000000;

font-family:

Inter,
Arial,
sans-serif;

overflow-x:hidden;

}

/* SOFT LIGHT */

body::before{

content:"";

position:fixed;

top:-300px;

right:-300px;

width:700px;

height:700px;

background:

rgba(
255,
220,
170,
0.12
);

filter:

blur(200px);

pointer-events:none;

}

a{

text-decoration:none;

color:black;

}

img{

display:block;

max-width:100%;

}